#background{
    background-color: var(--gray);
}

#top{
    background-color: white;
    padding: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
 
}

#left{

    width: 65%;
    background-color: white;

    
}

#right{
    width: 35%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2.5%;
    font-size: 14px;
}

.itemImg{
    width: 50%;
}

.amountBtns{
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;

    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;

}


.checkout{
    background-color: black;
    color: white;
    padding: 3%;
}

.checkout:hover{
    opacity: 50%;
}