.morning{
    font-weight:300;
    letter-spacing: 1px;
}
#accHead{
    font-weight: 500;
    letter-spacing: 1px;
}

.sections{
    margin-right: 0.6em;
    width: 32.6%;
    font-size: 14px;
    padding-left: 1.2em;
    padding-top: 1.2em;
    height: 12em;
    border: 1px solid lightgray;
    transition: 100ms ease-in-out;

}

.sections:hover{
    cursor: pointer;
    border: 1px solid black;
    transition: 200ms ease-in-out;
}

.sections:focus{
    border: 2px solid black;
    
}

.deleteSection{
    border:1px solid rgb(255, 151, 151);
    color:red;
    /* color:rgb(255, 106, 106) ; */
}

.deleteSection:hover{
    border:1px solid red;
}

.deleteLink{
    color:red;
    text-decoration: none;
}

.deleteLink:hover{
    color: red;
}