.in{
    display: inline-block;
}

hr{
    width: 40%;
 
    padding-bottom: 2px;
    
}


.title{
    position: relative;
    bottom: 0.6em;
    width: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

.links{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    
}

.links:hover{
    color: rgb(185, 185, 185);
    border-bottom: 1px solid rgb(185, 185, 185);
}